body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}
.cal {
    width: 300px;
    background-color: #141212;
    border-radius: 1px;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.display {
    width: 95%;
    height: 50px;
    text-align: right;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffeb3b;
    color: #333;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.btn {
    background-color: #2e3537;
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}
.btn:hover {
    background-color: #494a4b;
    transform: scale(1.1);
}
.btn:active {
    transform: scale(0.95);
}
.btn.clear {
    background-color: #ff5722;
}
.btn.clear:hover {
    background-color: #e64a19;
}
.btn.equal {
    background-color: #8bc34a;
}
.btn.equal:hover {
    background-color: #689f38;
}
.btn.operator {
    background-color: #ff9800;
}
.btn.operator:hover {
    background-color: #f57c00;
}